#hero-image {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/bg-image.png") center/cover no-repeat;
}

.frosted-glass {
  position: relative;

  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px); /* slightly boosted for refraction */
  -webkit-backdrop-filter: blur(6px);

  border: 1px solid rgba(255, 255, 255, 0.14);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.frosted-glass::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  padding: 1px;

  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.75) 2%,
    rgba(255, 255, 255, 0.3) 6%,
    rgba(255, 255, 255, 0.12) 10%,
    transparent 14%
  );

  mask:
    linear-gradient(#000, #000) content-box,
    linear-gradient(#000, #000);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.frosted-glass::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  padding: 1px;

  background: linear-gradient(
    330deg,
    rgba(255, 255, 255, 0.75) 2%,
    rgba(255, 255, 255, 0.3) 6%,
    rgba(255, 255, 255, 0.12) 10%,
    transparent 14%
  );

  mask:
    linear-gradient(#000, #000) content-box,
    linear-gradient(#000, #000);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.outer {
  border-radius: 1.875rem;
}

.inner {
  border-radius: 1rem;
}

.custom-card {
  height: 600px;
  flex: 1;
  transition: 0.3s;
  h3 {
    display: none;
  }

  p {
    display: none;
    transition: 0.3s;
  }
}

.custom-card:hover {
  flex: 3;
  h3 {
    display: block;
  }

  p {
    display: block;
    transition: 0.3s;
  }
}

.card-one {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/card-one.webp") center/cover no-repeat;
}

.card-two {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/card-two.webp") center/cover no-repeat;
}

.card-three {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/card-three.webp") center/cover no-repeat;
}

.card-four {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/card-four.webp") center/cover no-repeat;
}

// Destinations

.custom-carousel {
  width: 100%;
  overflow-x: auto;
}

.custom-carousel::-webkit-scrollbar {
  display: none;
}

.custom-group {
  gap: 1em;
  animation: spin 20s infinite linear;
  padding-right: 1em;
}

.custom-carousel:hover .custom-group {
  animation-play-state: paused;
}

.custom-card-scroll {
  flex: 0 0 400px;
  transition: 0.8s;
  color: #fff;

  p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.custom-card-scroll:hover {
  transition: 0.8s;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

#cta-bg {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/cta-image.webp") center/cover no-repeat;
}
