#hero-image {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/bg-image.png") center/cover no-repeat;
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px); /* slightly boosted for refraction */
  -webkit-backdrop-filter: blur(6px);

  border: 0.1px solid rgba(255, 255, 255, 0.14);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.frosted-glass::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  padding: 0.7px;

  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.75) 2%,
    rgba(255, 255, 255, 0.3) 6%,
    rgba(255, 255, 255, 0.12) 10%,
    transparent 14%
  );

  mask:
    linear-gradient(#000, #000) content-box,
    linear-gradient(#000, #000);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.frosted-glass::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  padding: 0.6px;

  background: linear-gradient(
    330deg,
    rgba(255, 255, 255, 0.75) 2%,
    rgba(255, 255, 255, 0.3) 6%,
    rgba(255, 255, 255, 0.12) 10%,
    transparent 14%
  );

  mask:
    linear-gradient(#000, #000) content-box,
    linear-gradient(#000, #000);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.outer {
  border-radius: 1.875rem;
}

.inner {
  border-radius: 1rem;
}
